<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxl.mapper.ClassmateMapper" >
  <select id="selectByPrimaryKey" resultType="com.gxl.entity.Classmate" parameterType="java.lang.Integer" >
    select * from classmate where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.gxl.entity.Classmate" >
    select * from classmate
  </select>
</mapper>